/*
Author: Aniyah da Silva Santos 
Date: 3/16/21
File name: styles.css
*/
/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
/* Style Rules for Body and Images */
body {
    background-color: #000;
}
img, video {
    max-width: 100%;
    display: block;
}

/* Style that Applies to All Elements */
* {
    box-sizing: border-box;
}

/* Style Rules for Mobile Viewport */


/* Style Rule for Header */
header {
    top: 0;
    background-color: #000;
    height: 190px;
}

header img {
    margin: 0 auto;
}
/* Style Rule for Navigation Area */
nav {
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
list-style-type: none;
text-align: center;
}

nav li {
    font-size: 1.5em;
    font-family: 'Francois One', sans-serif;
    border-top: 1px solid #fff;
}

nav li:first-child {
    border-top: none;

}

nav li a {
    display: block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Show Mobile Class, Hide Tablet Desktop Class */

.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

/* Style Rules for Main Content */
main {
    background-color: #fff;
    padding: 2%;
    font-size: 1.25em;
    font-family: 'Roboto Slab', serif;
}
video {
    margin: 0 auto 4%;
}

.mobile h3 {
    text-shadow: 5px 5px 8px #ccc;
}

article {
    padding: 2%;
}

article h3 {
    text-align: center;
}

article img {
    margin: 0 auto;
}

article ul {
    margin-left: 10%;
}

article:nth-of-type(2) {
    background-color: rgba(204, 204, 204, 0.3);
}
.tel-link {
    background-color: #404040;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

.hours {
    margin-left: 10%;
}
.action {
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
    text-shadow: 5px 5px 8px #ccc;
}

.frame {
    position: relative;
    max-width: 450px;
    margin: 2% auto;
}

.pic-text {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: verdana, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

#weights,  #cardio, #training {
    margin: 0 2%;
}

.round {
    border-radius: 8px;
}

.external-link {
    color: #666600;
    font-weight: bold;
    text-decoration: none;
}

#contact {
    text-align: center;
    }
#contact .contact-email-link {
    color: #666600;
    text-decoration: none;
}

.map {
    border: 2px solid #000;
    width: 95%;
    height: 50%;
}

#form{
    margin-top: 2%;
    background-color: #f2f2f2;
    padding: 2%;
}

#form h2 {
    text-align: center;
}

/* Style Rules for Form Elements */
fieldset, input, select, textarea {
    margin-bottom: 2%;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.25em;
}

label {
    display: block;
    padding-top: 3%;
}

form #submit {
    margin: 0 auto;
    border: none;
    display: block;
    padding: 2%;
    background-color: #b3b3b3;
    font-size: 1em;
    border-radius: 10px;
}
/* Style rules for footer */
footer p {
    font-size: 0.75em;
    text-align: center;
    color: linear-gradient(180deg, #fff 20%, #fcfcfc 80%, #eeeeff 95%)
    padding: 0 1em;
}

footer p a {
    color:linear-gradient(180deg, #fff 20%, #fcfcfc 80%, #eeeeff 95%)
    text-decoration: none;
}


/* Media Query for Tablet Viewport */
media screen and (min-width: 630px), print {
/* Tablet Viewport: Show Tablet-Desktop Class, Hide Mobile Class */
    .tablet-desktop {
        display: block;
    }
    .mobile {
        display: none;
    }


 /* Tablet Viewport: Style Rule for Header */
    header {
        padding-bottom: 2%;
 }
 /* Tablet Viewport: Style Rule for Navigation Area */
    nav li {
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
    }

    nav li:last-child {
        border-right: none;
    }
    nav li a {
        padding: 0.1em 0.75em;
    }

/* Tablet Viewport: Style Rules for Main Content Area */
    main ul {
        margin: 0 0 4% 10%;
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
    }

    .pic-text {
        font-size: 1em;
        padding: 10px;
    }

    aside {
        text-align: center;
        font-size: 1.25em;
        font-style: italic;
        font-weight: bold;
        padding: 2%;
        background-color: rgba(204, 204, 204, 0.5);
        box-shadow: 5px 5px 8px #000;
        text-shadow: 5px 5px 8px #b3b3b3;
        border-radius: 0 15px;
    }

    .grid-item4 {
        grid-column: 1 / span 3;
    }

    #execrcises {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        background-color: #f2f2f2;
        background: linear-gradient(to right, #ccc, #fff);
        padding: 1% 2%;
    }

    #exercises dt {
        font-weight: bold;
    }

    #excercises dd {
        padding: 0.5% 1% 2% 0;
    }

    .tel-num {
        font-size: 1.25em;
    }

    .map {
        width: 600px;
        height: 450px;
    }

    /* Tablet Viewport: Style Rules for Table */
    table {
        border: 1px solid #101010;
        border-collapse: collapse;
        margin: 0 auto;
        width: 100%;
    }

    caption {
        font-size: 1.5em;
        font-weight: bold;
        padding: 1%;
    }

    th, td {
        border: 1px solid #101010;
        padding: 2%;
    }

    tr:nth-child(odd) {
        background-color: #A0A0A0;
    }

/* Tablet viewport: Style Rules for Form Elements */
form {
    width: 70%;
    margin: 0 auto;
    }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {
 /* Desktop Viewport: Style Rules for Header */
    header {
        width: 25%;
        float: left;
        padding-bottom: 0;
    }
    /* Desktop Viewport: Style Rules for Navigation Areas */
    nav {
        float: right;
        width: 70%;
        margin: 4em 1em 0 0;
    }

    nav ul {
        text-align: right;
    }
    nav li {
        border: none;
    }

    nav li a {
        padding: 0.5em 1em;
    }

    nav li a:hover {
        color: #000;
        background-color: #fff;
    }

/* Desktop Viewport: Style Rules for Main Content */
    main {
        clear: left;
    }

    main h1 {
        font-size: 1.8em;
    }
    article h3 {
        font-size: 1.75em;
    }

    .pic-text {
        font-size: 1.5em;
        padding: 20px;
    }

    .frame {
        opacity: 0.9;
    }

    .frame:hover {
        opacity: 1;
        box-shadow: 8px 8px 10px #808080;
    }

    #weights, #cardio, #training{
        width: 29%;
        float: left;
        margin: 0  2%;
    }
    #excrcises {
        clear: left;
    }

    form {
        width: auto;
    }

    .form-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
    }

    .btn {
        grid-column: 1 / span 3;
    }
}

/* Media Query for Large Desktop Viewports */
media screen and (min-width: 1921px) {
    #container {
        width: 1920px;
        margin: 0 auto;
    }

    table {
        width: 82%;
    }
}
@media print {
    body {
        background-color: #fff;
        color: #101010;
    }
}
